* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  list-style: none;
  text-decoration: none;
}
h1,
h2,
h3,
p {
  padding: 10px;
}
.clear {
  clear: both;
  content: "";
}

.text-primary-color {
  color: #f7c08a;
}

.lead {
  font-size: 20px;
}

.btn {
  display: inline-block;
  font-size: 18px;
  color: white;
  background-color: #333;
  padding: 13px 20px;
  border: none;
  cursor: pointer;
}

.btn-light {
  background: #f4f4f4;
  color: #333;
}
.btn:hover {
  color: #333;
  background-color: #f7c08a;
}

.bg-dark {
  background: #333;
  color: #fff;
}
.bg-primary {
  background-color: #f7c08a;
  color: #333;
}
.bg-light {
  background: #f4f4f4;
  color: #333;
}
.clear {
  clear: both;
}
.py-1 {
  padding: 10px 0px;
}
.py-2 {
  padding: 20px 0px;
}
.py-3 {
  padding: 30px 0px;
}

.l-heading {
  font-size: 40px;
}
/* -----------NAVBAR-------------- */

.container {
  max-width: 960px;
  margin: auto;
  overflow: auto;
  padding: 0 20px;
}

header {
  color: #fff;
  width: 100%;
  overflow: auto;
  background-color: rgb(43, 47, 51);
}

header .logo {
  float: left;
}
header ul {
  float: right;
}

header ul li {
  float: left;
}

header ul li a {
  display: block;
  padding: 20px;
  color: white;
  text-align: center;
}

header ul li a:hover,
header ul li a.current {
  background-color: rgb(88, 86, 86);
}

/* -----------NAVBAR END -------------- */

/* ------------MAIN SECTION START--------- */

.main-img {
  background-image: url("./img/showcase.jpg");
  height: 600px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.main-content {
  color: white;
  text-align: center;
  padding-top: 150px;
}

.main-content h1 {
  font-size: 60px;
  line-height: 1.2em;
}

.main-content p {
  padding-bottom: 20px;
  line-height: 1.7em;
}

/* -------------------ASIDE */

.aside {
  height: 400px;
}
aside .info-img {
  float: left;
  width: 50%;
  min-height: 100%;
  background: url("./img/photo-1.jpg") no-repeat;
}

aside .info-content {
  float: right;
  width: 50%;
  height: 100%;
  text-align: center;
  padding: 50px 20px;
  overflow: hidden;
}

aside .info-content p {
  padding-bottom: 30px;
}

/* FEATURES---------------- */

.box {
  float: left;
  width: 33.3%;
  padding: 50px;
  text-align: center;
}

.footer {
  text-align: center;
  padding: 20px;
}

/* ABOUT------------------ */

.abt-section-text {
  float: left;
  width: 50%;
  min-height: 100%;
}

section .abt-section-img {
  float: right;
  width: 50%;
  min-height: 100%;
}
.ma {
  margin: auto;
}
.tc {
  text-align: center;
}
section .abt-section-img img {
  display: block;
  margin: auto;
  width: 70%;
  border-radius: 50%;
}

aside {
  height: 600px;
  padding-top: 100px;
  background: url("./img/test-bg.jpg") no-repeat center center/cover;
}
aside h1 {
  color: white;
  padding-bottom: 40px;
}

aside .test1 img {
  width: 100px;
  border-radius: 50%;
  float: left;
  margin-right: 20px;
}
aside .test1 {
  opacity: 0.8;
  padding: 20px;
  margin-bottom: 40px;
  border-radius: 5px;
}

#contact-form .form-group {
  margin-bottom: 20px;
}

#contact-form p {
  margin-bottom: 20px;
}
#contact-form label {
  display: block;
  padding: 5px;
}

#contact-form input,
#contact-form textarea {
  width: 100%;
  border: 1px #ddd solid;
  padding: 10px;
}
#contact-form textarea {
  height: 200px;
  margin-bottom: 30px;
}

#contact-form textarea:focus,
#contact-form input:focus {
  outline: none;
  border-color: #f7c08a;
}
