@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  background: #fff;
  color: #333333;
  line-height: 1.6;
}
ul {
  list-style: none;
}
h1,
h2 {
  font-weight: 300;
  padding: 10px 0px;
  line-height: 1.2;
}

p {
  line-height: 1.2;
  margin: 10px 0xp;
}
a {
  text-decoration: none;
  color: #333333;
}

img {
  width: 100%;
}

/* NAVBAR */
.navbar {
  display: flex;

  align-items: center;
  justify-content: space-between;
  background-color: #333;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  padding: 0px 30px;
  position: fixed;
  top: 0px;
  left: 0px;
}
.navbar .logo {
  font-weight: 400;
}

.navbar ul {
  display: flex;
}
.navbar a {
  color: #fff;
  padding: 10px 20px;
  margin: 0 5px;
}
.navbar a:hover {
  border-bottom: #28a745 2px solid;
}

.head {
  background: url("../image_resources/home/showcase.jpg") no-repeat center
    center/cover;
  position: relative;
  color: #fff;
  height: 100vh;
}

.head .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}

.head * {
  z-index: 2;
}

.head::before {
  content: "";
  background-color: black;
  top: 0;
  left: 0;
  position: absolute;
  opacity: 0.6;
  height: 100%;
  width: 100%;
}

.head .content h1 {
  font-size: 50px;
}
.head .content p {
  font-size: 25px;
  font-weight: 500;
  max-width: 600px;
  margin: 20px 0 30px;
}
